/* Contenedor principal del formulario */
.container {
   background-color: rgb(70, 43, 33);
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 40px 50px;
  width: 380px;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3);
  text-align: center;
}

/* Título */
.container h2 {
  font-size: 24px;
  font-weight: 500;
 color: rgb(216, 185, 248);
  margin-bottom: 25px;
}

/* Etiquetas */
.form-label {
  display: block;
  text-align: left;
  font-size: 14px;
  
  margin-bottom: 5px;
  
}
label{
color: rgb(216, 185, 248);
}

/* Inputs */
.form-control {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

/* Efecto al enfocar el input */
.form-control:focus {
  border-color: rgb(216, 185, 248);
  box-shadow: 0 0 0 1px rgb(216, 185, 248);
}

/* Botón principal */
.btn-primary {
  background-color: rgb(174, 122, 225);
  border: none;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 15px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: rgb(174, 94, 254);
}

 /* color mas clarito del boton hasta que este lleno */
.btn-primary:disabled {
  background-color: #a0c3f3;
  cursor: not-allowed;
}

/* Espaciado entre los campos */
.mb-3 {
  margin-bottom: 20px;
}

/* Texto pequeño de ayuda (si quieres usarlo) */
small {
  color: #5f6368;
  font-size: 13px;
}