.card-img-top{
    height: 300px;
    left: 100px;
}
.title{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;

    padding: 1rem;

}
img{
    height: 8rem;

    object-fit: cover;
}

/* /*pantalla de computadora*/
@media (min-width: 751px) {
.card{
    width: 100%;
    height: 100%;
} 
}
img{
    height: 8rem;
    /*´rpíedad para ajustaer tamaño al cotenidoy mantener la calidad*/
    object-fit: cover;
}
/*pantalla de celular*/
@media (max-width: 750px){
    .card{
        width:100%;
        
    }
}