.container{
    display: flex;
    justify-content: center;

    padding: 1rem;

}
/*pantalla de computadora*/
@media (min-width: 800px) {
.card{
    width: 18rem;
}
}
img{
    height: 8rem;
    /*´rpíedad para ajustaer tamaño al cotenidoy mantener la calidad*/
    object-fit: cover;
}
/*pantalla de celular*/
@media (max-width: 750px){
    .card{
        width: 9rem;
    }
}