/*titulo llamado por id*/
#title{
font-size: 35px;
text-align: center;
}
/*1 rem =16px*/
.card{
    margin-top: 5rem;
    

}

.tarjetas{
   display: flex; 
  justify-content: center;
}
.card{
    margin: 20px;
}
.card-body{
    display: block;
    
    text-align: center;
}
.btn{
    background-color:rgb(95, 58, 45);
    color: rgb(154, 82, 221);
}

.imgg{
    width: 100%;
    height: 500px;
    
}

/* ESTILO DEL FOOTER */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
}

footer p {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}


